.homeContainer {
  position: relative;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}

.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.homeContent {
  position: relative;
  z-index: 1;
}

.homeTitle {
  font-size: 3rem;
  color: #3d3d3d;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease;
}

.homeSubtitle {
  font-size: 1.5rem;
  color: #494949;
  margin-bottom: 1.5rem;
  animation: fadeInUp 1s ease;
}

.homeButton {
  font-size: 1.2rem;
  animation: fadeIn 1s ease;
}

.scrollDown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeInUp 1s ease 1s forwards;
}

.scrollDown p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  animation: arrowBounce 1s ease infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
