.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  animation: fadeIn 1s;
}

.product-grid-container {
  display: contents;
}

.product-item {
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;  /* for border-radius */
  border-radius: 10px;  /* rounded corners */
}

.product-item:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);  /* shadow effect */
}

.product-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  transition: all 0.3s ease;
}

.image-container {
  grid-row: 1;
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.1);  /* zoom effect */
}

.product-body {
  grid-row: 2;
  padding: 15px;
  background: #f8f8f8;  /* light gray background */
}

.product-name, .product-price {
  font-weight: bold;
}

.product-publisher, .product-price {
  color: #777;
}

.out-of-stock {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
